@page "/Registro/Index"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject RegistroService registroService

<PageTitle>Registro</PageTitle>
<div class="container"></div>
	<div class="card shadow-lg">
		<div class="card-header">
			<h5 class="card-tittle">Registro</h5>
		</div>

    <div class="col-md-3 d-flex align-items-end justify-content-md-start mt-3 mt-md-0">
        <a href="/Registro/Create" class="btn btn-success bi bi-plus-square-fill"> Crear</a>
    </div>
</div>
        
        
        <div class="card-body"
        <table class="table table-light">
            <thead class="table table-striped text-center table-bordered mt-3 bg-dark text-white">
                <tr>
                    <th>Ver</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
        </table>
        <tbody>
            @foreach (var Registro in registros)
            {
               
                       <tr>

                               <td class="text-center">
                                    <a href="/Registro/Details/ class="btn btn-info text-white bi bi-eye-fill"></a>
                                </td>
                                <td class="text-center">
                                    <a href="/Registro/Edit/ class="btn btn-secondary text-white bi bi-pencil-fill"></a>
                                </td>
                                <td class="text-center">
                                    <a href="/Registro/Delete/ class="btn btn-danger bi bi-trash2-fill"></a>
                                </td>

                       </tr>

                     
            }
            </tbody>

	</div>


@code {

    public List<Registro> registros = new List<Registro>();
}
